<ui:composition template="/pages/page.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <h:form id="dataViewMsg">
            <p:messages id="messages" for="dataForm" showDetail="false"
                        autoUpdate="true" closable="true" />
        </h:form>
        <h:form id="dataForm">
            <ui:insert name="dataViewContent">
                A view of the data. May be a dataTable, or a list, etc.
            </ui:insert>
        </h:form>
        <ui:insert name="dialogs"/>

    </ui:define>
</ui:composition>