<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>
<h:head>
    <h:outputStylesheet library="css" name="create-person.css"/>
</h:head>
<h:body>
    <ui:composition template="/pages/page.xhtml">
        <ui:define name="content">

            <h2>
                <h:outputText value="Reservation"/>
            </h2>

            <h:outputStylesheet>
                #reservation-form {
                    margin: 10px;
                }

                #reservation-form > * {
                    margin: 10px;
                }
            </h:outputStylesheet>

            <h:form id="reservation-form">
                <h:outputLabel for="persons" value="#{localeMessages['reservation.person-placeholder']}"/>
                <h:selectOneMenu id="persons" value="#{reservationBean.person}">
                    <f:selectItems value="#{PersonService.getAll()}"
                                   var="person" itemValue="#{person}" itemLabel="#{person.name}"/>
                    <f:converter converterId="lab4.converters.PersonConverter"/>
                </h:selectOneMenu>
                <h:message for="persons"/>
                <br/>

                <h:outputLabel for="meetings" value="#{localeMessages['reservation.meeting-placeholder']}"/>
                <h:selectOneMenu id="meetings" value="#{reservationBean.meeting}">
                    <f:selectItems value="#{MeetingService.getAll()}" var="meeting" itemValue="#{meeting}"
                                   itemLabel="#{meeting.getGeneralDetails()} #{reservationBean.getMeetingAvailability(meeting)}"/>
                    <f:converter converterId="lab4.converters.MeetingConverter"/>
                </h:selectOneMenu>
                <h:message for="meetings"/>

                <h:commandButton id="submit-button" value="#{localeMessages['reservation.button-title']}"
                                 action="#{reservationBean.register()}"/>

                <h:commandButton value="#{localeMessages['reservation.finish-button-title']}"
                                 action="#{reservationBean.finish()}"/>
            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>
