<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ez="http://java.sun.com/jsf/composite/ezcomp">
<h:head>

    <f:facet name="first">
        <title>
            Meeting Scheduling Problem Solver
        </title>
    </f:facet>

    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        /*Normalize html and body elements,this style is just good to have*/
        html, body {
            margin: 0;
            padding: 0;
        }

        .pageContentWrapper {
            margin-bottom: 25px; /* Height of footer*/
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 25px;
        }
    </style>
</h:head>
<h:body>
    <div class="pageContentWrapper">
        <div id="top" class="top">
            <ez:header/>
            <ez:menu/>
        </div>
        <div id="content" class="main">
            <ui:insert name="content">This is a very short description on how this application works.</ui:insert>
        </div>
        <div id="bottom" class="bottom">
            <ez:footer/>
        </div>
    </div>
</h:body>
</html>