<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
<h:head>
    <h:outputStylesheet library="css" name="create-person.css"/>
</h:head>
<h:body>
    <ui:composition template="/WEB-INF/templates/dataView.xhtml">
        <ui:define name="dataViewContent">
            <h4>
                <h:outputText value="#{localeMessages['problem-solution.persons-title']}"/>
            </h4>
            <h:dataTable id="personDataTable" value="#{PersonService.getAll()}" var="person">
                <h:column>
                    #{person.name}
                </h:column>
            </h:dataTable>
        </ui:define>
    </ui:composition>
</h:body>
</html>
