<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="create-person.css"/>
    </h:head>
    <h:body>

        <h2>
            <h:outputText value="#{localeMessages['create-person.title']}"/>
        </h2>

        <h:form id="person-form">

            <h:outputLabel for="name" value="#{localeMessages['create-person.name.placeholder']}"/>
            <h:inputText id="name" value="#{personBean.name}" required="true"
                         validatorMessage="#{validationMessages['person.name.too-short']}"
                         requiredMessage="#{localeMessages['create-person.name.required-message']}"/>
            <h:message for="name" />
            <br/>
            <h:outputLabel for="email" value="#{localeMessages['create-person.email.placeholder']}"/>
            <h:inputText id="email" value="#{personBean.email}" required="true"
                         validatorMessage="#{validationMessages['person.email.invalid']}"
                         requiredMessage="#{localeMessages['create-person.email.required-message']}"/>
            <h:message for="email" />
            <br/>
            <h:commandButton id="submit-button" value="#{localeMessages['create-person.submit-button.message']}"
                             action="#{PersonService.save(personBean)}"/>
        </h:form>
    </h:body>
</html>
