<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="import-data.css"/>
    </h:head>
    <h:body>

        <h2>
            <h:outputText value="#{localeMessages['import-data.title']}"/>
        </h2>

        <h:form enctype="multipart/form-data" prependId="false">
            <h:outputText value="File: "/>
            <h:inputFile value="#{FileUpload.uploadedFile}"  />
            <h:commandButton value="Save" type="submit" action="#{FileUpload.importFile}" />
        </h:form>

    </h:body>
</html>
