#existing-data-view {
    display: flex;
}

#existing-data-view > * {
    margin: 10px 15px;
}

#solution {
}

#meetingDataTable tbody {
    display: grid;
}

#meetingDataTable tr {
    margin-bottom: 5px;
}

#solutionTable tr {
    margin-bottom: 15px;
}