<ui:composition template="/WEB-INF/templates/page.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:param name="pageTitle" value="Register"/>
    <ui:define name="content">
        <h:form id="registerForm">
            <h:messages globalOnly="true" style="color:red;margin:8px;"/>

            <h:outputText value="Username: "/>
            <h:inputText label="Username" value="#{loginBean.user.username}"/><br/><br/>
            <h:outputText value="Password: "/>
            <h:inputSecret value="#{loginBean.user.password}"/><br/><br/>
            <h:selectOneMenu id="types" value="#{loginBean.user.type}">
                <f:selectItems value="#{loginBean.getUserTypes()}"
                               var="type" itemValue="#{type}" itemLabel="#{type}"/>
            </h:selectOneMenu>
            <h:commandButton value="register" action="#{loginBean.register}"/>
        </h:form>
    </ui:define>
</ui:composition>
