<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xml:lang="en" lang="en">
<head>
    <title>Title</title>
</head>
<body>
<composite:interface>
</composite:interface>

<composite:implementation>
    <style>
        footer {
            display: flex;
            justify-content: space-between;
        }

    </style>
    <footer>
        <small>&#169; Copyright 2020, Irimia Cosmin</small>
        <h:form id="form1">
            <p:poll interval="3"
                    listener="#{counterBean.getSessions}"
                    update="counter" />
            <h:outputText id="counter"
                          value="No. of sessions: #{counterBean.count}" />
        </h:form>

    </footer>
</composite:implementation>
</body>
</html>