<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>
<h:head>

</h:head>
<h:body>
    <ui:composition template="/pages/page.xhtml">
        <ui:define name="content">

            <h:outputStylesheet>
                #meeting-search-form {
                }

                #meeting-search-form > *{
                    margin: 10px;
                }

                #meetings {
                    margin-top: 30px;
                }
            </h:outputStylesheet>

            <h2>
                <h:outputText value="#{localeMessages['search-meeting.title']}"/>
            </h2>

            <h:form id="meeting-search-form">

                <h:selectBooleanCheckbox value="#{MeetingSearchService.filterCriteria['SEARCH_TYPE']}"/>
                <h:outputLabel for="types" value="#{localeMessages['search-meeting.type.placeholder']}"/>
                <br/><br/>
                <h:selectBooleanCheckbox value="#{MeetingSearchService.filterCriteria['TYPE']}"/>
                <h:outputLabel for="types" value="#{localeMessages['create-meeting.type.placeholder']}"/>
                <h:selectOneMenu id="types" value="#{MeetingSearchService.type}">
                    <f:selectItems value="#{MeetingService.getMeetingTypes()}"
                                   var="type" itemValue="#{type}" itemLabel="#{type}"/>
                    <f:converter converterId="lab4.converters.TypeConverter"/>
                </h:selectOneMenu>
                <h:message for="types"/>
                <br/>

                <h:selectBooleanCheckbox value="#{MeetingSearchService.filterCriteria['DURATION']}"/>
                <h:outputLabel for="duration-min" value="#{localeMessages['create-meeting.duration-min.placeholder']}"/>
                <h:inputText id="duration-min" value="#{MeetingSearchService.durationMinutesMin}">
                </h:inputText>
                <h:outputLabel for="duration-max" value="#{localeMessages['create-meeting.duration-max.placeholder']}"/>
                <h:inputText id="duration-max" value="#{MeetingSearchService.durationMinutesMax}">
                </h:inputText>
                <h:message for="duration-min"/>
                <h:message for="duration-max"/>
                <br/>

                <h:selectBooleanCheckbox value="#{MeetingSearchService.filterCriteria['LOCATION']}"/>
                <h:outputLabel for="locations" value="#{localeMessages['create-meeting.location.placeholder']}"/>
                <h:selectOneMenu id="locations" value="#{MeetingSearchService.location}">
                    <f:selectItems value="#{MeetingService.getPossibleLocations()}"
                                   var="location" itemValue="#{location}" itemLabel="#{location.name}"/>
                    <f:converter converterId="lab4.converters.LocationSearchConverter"/>
                </h:selectOneMenu>
                <h:message for="locations"/>
                <br/>

                <h:selectBooleanCheckbox value="#{MeetingSearchService.filterCriteria['PERSON']}"/>
                <h:outputLabel for="persons" value="#{localeMessages['search-meeting.person-name']}"/>
                <h:inputText id="persons" value="#{MeetingSearchService.personName}">
                </h:inputText>
                <h:message for="persons"/>
                <br/>

                <h:commandButton id="submit-button" value="#{localeMessages['search-meeting.button-name']}"
                                 action="#{MeetingSearchService.updateMeetings()}"/>

            </h:form>



            <div id="meetings">
                <h:dataTable id="meetingDataTable" value="#{MeetingSearchService.getAllFiltered()}" var="meeting">
                    <h:column>
                        #{meeting.getGeneralDetails()} | #{meeting.getAttendeesDetails()}
                        <br/>
                        #{meeting.getTypeDetails()}
                        <br/><br/>
                    </h:column>
                </h:dataTable>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>
