<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">
<h:head>
</h:head>
<h:body>
    <composite:interface>
    </composite:interface>

    <composite:implementation>
        <style>
            .ui-menuitem-text {
                text-transform: capitalize;
            }
        </style>
        <h:form>
            <p:menubar>
                <p:submenu label="#{localeMessages['menu.persons']}" icon="fa fa-fw fa-dropbox">
                    <p:menuitem value="#{localeMessages['menu.persons.create']}" outcome="create-person-form" icon="fa fa-fw fa-plus"/>
                    <p:separator/>
                    <p:menuitem value="#{localeMessages['menu.persons.view']}" outcome="view-persons-form" icon="fa fa-fw fa-table"/>
                </p:submenu>

                <p:submenu label="#{localeMessages['menu.meetings']}" icon="fa fa-fw fa-pencil">
                    <p:menuitem value="#{localeMessages['menu.meetings.create']}" outcome="create-meeting-form" icon="fa fa-fw fa-plus"/>
                    <p:separator/>
                    <p:menuitem value="#{localeMessages['menu.meetings.solve']}" outcome="problem-solution-form" icon="fa fa-fw fa-table"/>
                    <p:separator/>
                    <p:menuitem value="#{localeMessages['menu.meetings.search']}" outcome="meeting-search-form" icon="fa fa-fw fa-table"/>
                    <p:separator/>
                    <p:menuitem value="#{localeMessages['menu.meetings.reservation']}" outcome="meeting-reservation-form" icon="fa fa-fw fa-table"/>
                </p:submenu>

                <p:submenu label="#{localeMessages['menu.import']}" icon="fa fa-fw fa-pencil">
                    <p:menuitem value="#{localeMessages['menu.import.data']}" outcome="import-data-form" icon="fa fa-fw fa-plus"/>
                </p:submenu>

                <p:submenu label="Tests" icon="fa fa-fw fa-pencil">
                    <p:menuitem value="Performance" outcome="performance-test-form" icon="fa fa-fw fa-plus"/>
                </p:submenu>
            </p:menubar>
        </h:form>
    </composite:implementation>

</h:body>
</html>