<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
<h:head>
    <h:outputStylesheet library="css" name="create-person.css"/>
</h:head>
<h:body>
    <ui:composition template="/WEB-INF/templates/dataEdit.xhtml">
        <ui:param name="backingBean" value="#{personBean}"/>
        <ui:param name="headerTitle" value = "#{localeMessages['create-person.title']}" />
        <ui:define name="dataEditContent">
            <h:form id="person-form">

                <h:outputLabel for="name" value="#{localeMessages['create-person.name.placeholder']}"/>
                <h:inputText id="name" value="#{personBean.name}" required="true"
                             validatorMessage="#{validationMessages['person.name.too-short']}"
                             requiredMessage="#{localeMessages['create-person.name.required-message']}"/>
                <h:message for="name"/>
                <br/>
                <h:outputLabel for="email" value="#{localeMessages['create-person.email.placeholder']}"/>
                <h:inputText id="email" value="#{personBean.email}" required="true"
                             validatorMessage="#{validationMessages['person.email.invalid']}"
                             requiredMessage="#{localeMessages['create-person.email.required-message']}"/>
                <h:message for="email"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>
