<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>
<h:head>
    <h:outputStylesheet library="css" name="create-meeting.css"/>
</h:head>
<h:body>
    <ui:composition template="/pages/page.xhtml">
        <ui:define name="content">

            <h2>
                <h:outputText value="#{localeMessages['create-meeting.title']}"/>
            </h2>

            <h:form id="meeting-form">

                <h:outputLabel for="topics" value="#{localeMessages['create-meeting.topic.placeholder']}"/>
                <h:selectOneMenu id="topics" value="#{meetingBean.topic}">
                    <f:selectItems value="#{meetingBean.getTopics()}"
                                   var="topic" itemValue="#{topic}" itemLabel="#{topic}"/>
                </h:selectOneMenu>
                <h:message for="topics"/>
                <br/>

                <!--            <h:outputLabel for="dateTime" value="#{localeMessages['create-meeting.dateTime.placeholder']}"/>-->
                <!--            <h:inputText id="dateTime" value="#{meetingBean.startingDateTime}" required="true"-->
                <!--                         requiredMessage="#{localeMessages['create-meeting.dateTime.required-message']}">-->
                <!--                <f:converter converterId = "lab4.converters.LocalDateTimeConverter"/>-->
                <!--            </h:inputText>-->
                <!--            <h:message for="dateTime" />-->
                <!--            <br/>-->


                <h:outputLabel for="duration" value="#{localeMessages['create-meeting.duration.placeholder']}"/>
                <h:inputText id="duration" value="#{meetingBean.durationMinutes}" required="true"
                             validator="MeetingDurationValidator"
                             requiredMessage="#{localeMessages['create-meeting.duration.required-message']}">
                </h:inputText>
                <h:message for="duration"/>
                <br/>

                <h:outputLabel for="location" value="#{localeMessages['create-meeting.location.placeholder']}"/>
                <h:inputText id="location" value="#{meetingBean.location}" required="true"
                             requiredMessage="#{localeMessages['create-meeting.location.required-message']}">
                    <f:converter converterId="lab4.converters.LocationConverter"/>
                </h:inputText>
                <h:message for="location"/>

                <br/>

                <h:outputLabel for="locationDist" value="#{localeMessages['create-meeting.distances.placeholder']}"/>
                <h:dataTable id="locationDist" value="#{MeetingService.getPossibleLocations()}" var="loc">
                    <h:column>
                        <h:inputText converter="javax.faces.Integer" value="#{DistanceService.distancesMap[loc]}"/>
                        #{loc.name}
                    </h:column>
                </h:dataTable>

                <br/>

                <h:outputLabel for="personDataTable"
                               value="#{localeMessages['create-meeting.personDataTable.placeholder']}"/>
                <h:dataTable id="personDataTable" value="#{PersonService.getAll()}" var="person">
                    <h:column>
                        <h:selectBooleanCheckbox value="#{PersonService.attendeesChecked[person]}"/>
                        #{person.name}
                    </h:column>
                </h:dataTable>
                <br/>
                <h:commandButton id="submit-button" value="#{localeMessages['create-meeting.submit-button.message']}"
                                 action="#{MeetingService.save(meetingBean)}"/>
            </h:form>

        </ui:define>
    </ui:composition>
</h:body>
</html>
