<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich">
<h:head>
    <h:outputStylesheet library="css" name="problem-solution.css"/>
</h:head>
<h:body>
    <ui:composition template="/pages/page.xhtml">
        <ui:define name="content">
            <h2>
                <h:outputText value="#{localeMessages['problem-solution.title']}"/>
            </h2>

            <div id="existing-data-view" style="display: flex">
                <div id="persons">
                    <h4>
                        <h:outputText value="#{localeMessages['problem-solution.persons-title']}"/>
                    </h4>
                    <h:dataTable id="personDataTable" value="#{PersonService.getAll()}" var="person">
                        <h:column>
                            #{person.name}
                        </h:column>
                    </h:dataTable>
                </div>
                <div id="topics">
                    <h4>
                        <h:outputText value="#{localeMessages['problem-solution.topics-title']}"/>
                    </h4>
                    <h:dataTable id="topicDataTable" value="#{meetingBean.getTopics()}" var="topic">
                        <h:column>
                            #{topic}
                        </h:column>
                    </h:dataTable>
                </div>
                <div id="locations">
                    <h4>
                        <h:outputText value="#{localeMessages['problem-solution.locations-title']}"/>
                    </h4>
                    <h:dataTable id="locationDataTable" value="#{MeetingService.getPossibleLocations()}" var="location">
                        <h:column>
                            #{location.name}
                        </h:column>
                    </h:dataTable>
                </div>
                <div id="meetings">
                    <h4>
                        <h:outputText value="#{localeMessages['problem-solution.meetings-title']}"/>
                    </h4>
                    <h:dataTable id="meetingDataTable" value="#{MeetingService.getAll()}" var="meeting">
                        <h:column>
                            #{meeting.getGeneralDetails()}
                            <br/>
                            #{meeting.getAttendeesDetails()}
                        </h:column>
                    </h:dataTable>
                </div>
                <div id="distances">
                    <h4>
                        <h:outputText value="#{localeMessages['problem-solution.distance-title']}"/>
                    </h4>
                    <h:dataTable id="distanceDataTable" value="#{DistanceService.getAllFiltered()}" var="distance">
                        <h:column>
                            #{distance.getGeneralDetails()}
                        </h:column>
                    </h:dataTable>
                </div>
            </div>

            <div id="solution">
                <rich:panel header="RichFace Tutorials " style="align-items:center; background-color: activecaption">
                    <h:outputText value="#{localeMessages['problem-solution.solution-title']}"/>
                    <h:dataTable id="solutionTable" value="#{SolvingService.getSolution()}" var="solutionLine">
                        <h:column>
                            <rich:panel header="RichFace Tutorials "
                                        style="align-items:center; background-color: activecaption">
                                #{solutionLine}
                            </rich:panel>
                        </h:column>
                    </h:dataTable>
                </rich:panel>
            </div>

        </ui:define>
    </ui:composition>
</h:body>
</html>
