<ui:composition template="/WEB-INF/templates/log/page.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
>

    <ui:param name="pageTitle" value="Home"/>
    <ui:define name="content">
        <h:form enctype="multipart/form-data">
            <p:growl id="messages" showDetail="true" />

            <h:inputFile value="#{documentsAddBean.uploadedFile}"/>
            <br /> <br />

            <p:commandButton value="Submit" ajax="false" action="#{documentsAddBean.upload}" />
        </h:form>
    </ui:define>
</ui:composition>

