<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
   <h:head>
      <h:outputStylesheet library="css" name="index.css"/>
   </h:head>
   <h:body>

      <h2>
         <h:outputText value="#{localeMessages['start-page.title']}"/>
      </h2>

      <h:form id="creation-form">
         <h:commandButton action="/pages/create-person?faces-redirect=true" value="#{localeMessages['start-page.buttons.create-person']}" />
         <h:commandButton action="/pages/create-meeting?faces-redirect=true" value="#{localeMessages['start-page.buttons.create-meeting']}" />
      </h:form>

      <h:form id="view-form">
         <h:commandButton action="/pages/import-data?faces-redirect=true" value="#{localeMessages['start-page.buttons.import-data']}" />
         <h:commandButton action="/pages/problem-solution?faces-redirect=true" value="#{localeMessages['start-page.buttons.solve-problem']}" />
      </h:form>

   </h:body>
</html>