<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xml:lang="en" lang="en">
<head>
    <title>Title</title>
</head>
<body>
    <composite:interface>
    </composite:interface>

    <composite:implementation>
        <style>
            #head {
                display: flex;
                align-items:center;
                justify-content: flex-end;
            }
        </style>
        <div id="head">
            <h1>Meeting Scheduling Problem Solver</h1>
            <h:graphicImage height="100px" width="300px" value="#{resource['images:logo.png']}"/>
        </div>
    </composite:implementation>
</body>
</html>